$baseColor1: #1F1E22;
$baseColor2: #EFF7FF;
$accentColor1: #67A36F;
$fontFamily: futura;

* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: transparent;
    padding: 10px 18px;
    border: 3px solid;
    border-radius: 25px;
    margin: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}



#mainContent {
    display: flex;
    justify-content: space-between;
    background: $baseColor1 url("/images/splashPage.webp") center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    header {
        order: 1;
        height: 95vh;
        margin: 2.5vh;
    
        nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        
            ul {
                display: flex;
                flex-direction: column;
            }
        
            li {
                list-style: none;
            }
        
            :nth-child(1) {
                display: flex;
                align-items: flex-end;
        
                li {
                    margin-bottom: 10%;
    
                    a {
                        text-decoration: none;
                        color: $baseColor2;
                        font-size: 1.8rem;
                    }
    
                    a:hover {
                        color: $accentColor1;
                    }
                }
            }
    
            :nth-child(2) {
                display: flex;
                align-items: flex-end;
    
                img {
                    cursor: pointer;
                    padding: 12px;
                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order: 0;
        padding-top: 8%;
        padding-left: 8%;

        h1 {
            color: $baseColor2;
            font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
        }

        h3 {
            color: $baseColor2;
            font-size: 2rem;
            color: $accentColor1;
        }

        button {
            border-color: $accentColor1;
            color: $accentColor1;
        }

        button:hover {
            background-color: $accentColor1;
            color: $baseColor2;
        }
    }
}
