#aboutMe {
    p,
    li {
        margin-right: 1%;
        color: $primaryWhite;
    }

    a {
        @include link($accentGreen);
    }

    ul {
        margin: 1rem 0 1rem 1rem;
    }
}

@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
    #aboutMe > div {
        flex-direction: column;

        img {
            order: 0;
            margin: 8% 0;
        }
    }

    #aboutMeContent {
        order: 1;
    }

    #aboutMe {
        padding-bottom: 8%;
    }
}
