#aboutMe {
    p {
        margin-right: 1%;
        color: $primaryWhite;
    }

    a {
        @include link($accentGreen);
    }

    .sectionContent div {
        max-width: 50rem;
    }
}

@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
    #aboutMe > div {
        flex-direction: column;

        img {
            order: 0;
            margin: 8% 0;
        }
    }

    #aboutMe {
        padding-bottom: 8%;
    }
}
