#contact {
    margin-top: 10%;

    h2,
    p {
        color: $primaryWhite;
        text-align: center;
        margin-bottom: 3%;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.inputGroup {
    width: 100%;
}

#contactLinks {
    margin-top: 3%;
    a {
        text-decoration: none;
        color: $accentGreen;

        &:hover {
            text-decoration: underline;
        }
    }
}

input,
textarea {
    background-color: $primaryWhite;
    color: $primaryBlack;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10% 0;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    color: $primaryWhite;
}

#contactButton {
    color: $accentGreen;
    margin: 1.5rem 0 1.5rem 0;

    &:hover {
        background-color: $accentGreen;
        color: $primaryBlack;
    }
}
