footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;

    p {
        color: $primaryWhite;
    }

    a {
        display: block;
        margin-top: 1rem;
        @include link($primaryWhite);
    }
}
