footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primaryWhite;
    padding: 3%;

    a {
        display: block;
        margin-top: 1rem;

        @include link($primaryBlack);
    }
}

#buyMeACoffee {
    @include link($accentGreen);
}
