header {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //margin: 2.5vh 2.5vw;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background: url(../images/NavRect.svg) no-repeat top right;
    padding: 0 0 3rem 3rem;

    img {
        display: none;
        width: 80px;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        list-style: none;
        margin-top: 1rem;
        margin-right: 5px;
    }
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5%;

    a {
        text-decoration: none;
        color: $primaryWhite;
        font-size: $h5Size;
    }

    a:hover {
        color: $accentGreen;
    }
}

.socialList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
        cursor: pointer;
        padding: 12px;
    }
}

.mobileNavIcon {
    width: 80px;
}

#mobileNav {
    display: none;
}
