header {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: url(../images/NavRect.svg) no-repeat top right;
    height: 40%;
    padding-bottom: 2rem;

    img {
        display: none;
        width: 80px;
    }
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;

    li {
        list-style: none;
        margin: 0.5rem 0;
    }

    a {
        text-decoration: none;
        color: $primaryWhite;
        font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
    }

    a:hover {
        color: $accentGreen;
    }
}

.socialList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
        cursor: pointer;
        padding: 12px;
    }
}

.mobileNavIcon {
    width: 80px;
}

#mobileNav {
    display: none;
}
