header {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: url(../images/NavRect.svg) no-repeat top right;
    padding-bottom: 2rem;

    img {
        display: none;
        width: 80px;
    }
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 2rem;

    li {
        list-style: none;
        margin: 0.5rem 0;
    }

    a {
        text-decoration: none;
        color: $primaryWhite;
        font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    }

    a:hover {
        color: $accentGreen;
    }
}

.socialListContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0.5rem 0.5rem 0;
}

.socialList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 4.3rem 4.3rem 0 0;

    img {
        cursor: pointer;
        padding: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
        width: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
    }
}

.mobileNavIcon {
    width: 80px;
}

#mobileNav {
    display: none;
}

@media only screen and (max-width: 1500px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
    nav {
        background-image: none;
    }

    #mainContent nav img {
        display: flex;
    }

    .navList {
        position: absolute;
        top: 10%;
        z-index: 2;
        transform-origin: 0% 0%;
        transform: translate(130%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background-color: $primaryWhite;
        height: 300px;
        width: 200px;

        li a {
            color: #1f1e22;
            font-size: 1.4rem;
        }
    }

    .open {
        transform: translate(10%, 0);
    }
}
