#mainContent {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    background: url(../images/HeroRect.svg) no-repeat top left;
}

.heroContents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10%;

    h1 {
        color: $primaryWhite;
        font-size: $h1Size;
    }

    h3 {
        font-size: $h3Size;
        color: $accentGreen;
    }

    button {
        border-color: $accentGreen;
        color: $accentGreen;
    }

    button:hover {
        background-color: $accentGreen;
        color: $primaryBlack;
    }
}
