#mainContent {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    background: url(../images/HeroRectLarge.svg) no-repeat top left;
}

.heroContents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10%;

    h1 {
        color: $primaryWhite;
        font-size: calc(40px + (110 - 40) * ((100vw - 300px) / (1600 - 300)));
    }

    h2 {
        color: $accentGreen;
        font-size: calc(20px + (55 - 20) * ((100vw - 300px) / (1600 - 300)));
    }

    a {
        border-color: $accentGreen;
        color: $accentGreen;
        text-decoration: none;
        margin: 1.5rem 0 1.5rem 1.5rem;
    }

    a:hover {
        background-color: $accentGreen;
        color: $primaryBlack;
    }
}

@media only screen and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 1) {
    .hero {
        justify-content: flex-start;
        padding-left: 5%;
        background-image: url(../images/HeroRectMedium.svg);

        button {
            margin: 1rem 0 0 0;
        }
    }

    h1 {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 420px) and (-webkit-min-device-pixel-ratio: 1) {
    .hero {
        padding-top: 30%;
        background-image: url(../images/HeroRectSmall.svg);
    }

    .heroContents {
        align-items: flex-start;
        button {
            margin: 0.8rem 0 0 0;
            align-self: center;
        }
    }
}
