#projects {
    padding-bottom: 4%;

    p a {
        @include link($accentGreen);
    }

    h3,
    h4,
    p {
        margin-bottom: 3%;
    }

    .projectCard:first-of-type {
        margin-top: 4%;
    }

    .projectCard:last-of-type {
        margin-bottom: 0;
    }

    div.sectionContent > p {
        color: $primaryWhite;
    }
}

.projectCard {
    display: flex;
    margin: 4% 0;

    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    background: $cardColor;
    border-radius: 12px;
    padding: 3%;
}

.projectDetails,
.projectScreenshots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDetails {
    width: 40%;
    p {
        color: $primaryWhite;
    }

    h3 {
        color: $accentGreen;
    }

    span {
        color: $accentGreen;
    }

    h4 {
        color: $primaryWhite;
        padding: 1% 0;
    }
}

.projectScreenshots {
    width: 60%;

    img {
        width: 100%;
    }
}

.projectCardNav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    a {
        text-decoration: none;
    }

    p {
        color: $accentGreen;
    }
}

@media only screen and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 1) {
    .projectCard {
        flex-direction: column;
        align-content: center;
        padding: 4%;
        margin: 8% 0;
    }

    .projectDetails {
        width: 100%;
        > div {
            padding: 4% 6%;
        }
    }

    .projectScreenshots {
        width: 100%;
        margin-bottom: 4%;
    }

    .projectCardNav {
        padding-top: 6%;
    }
}
