#skills {
    li {
        color: $primaryWhite;
        padding: 1% 0;
        list-style: none;
    }

    p {
        color: $primaryWhite;
        margin-bottom: 2rem;
    }
}

#skillCategories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: start;

    // Set backgrounds rectangles for the skill categories
    @for $i from 1 through 4 {
        & > :nth-child(#{$i}) {
            background: url("../images/SkillsRect#{$i}.svg") no-repeat center center;
        }
    }
}

.skillCategory {
    text-align: center;
    white-space: nowrap;
    padding: 25%;

    h3 {
        color: $accentGreen;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    #skillCategories {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
    #skillCategories {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
}
