#skills {
    p,
    h4 {
        color: $primaryWhite;
    }

    p {
        margin-bottom: 1rem;
        font-size: $bodyFontSize;
    }

    h4 {
        padding: 1% 0;
    }
}

#skillCategories {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skillCategory {
    margin: 2% 2% 2% 0;

    h3 {
        color: rgb(103, 163, 111);
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 980px) and (-webkit-min-device-pixel-ratio: 1) {
    #skillCategories {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 514px) and (-webkit-min-device-pixel-ratio: 1) {
    #skills h2 {
        padding-top: 8%;
    }
}

@media only screen and (max-width: 514px) and (-webkit-min-device-pixel-ratio: 1) {
    #skillCategories {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .skillCategory {
        margin: 5% 0;
    }
}
