* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $primaryBlack;
}

button {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 3px solid;
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.sectionHeading {
    display: inline-block;
    color: $accentGreen;
    border-bottom: 4px $accentGreen solid;
    margin: 3rem 0 1.5rem 0;
    padding: 0 1rem;
    line-height: 2.5rem;
}

.sectionContent {
    width: 90%;
    margin: auto;
}

.container {
    width: 80%;
    padding: 5% 0;
    margin: auto;
    display: block;
}
