* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $primaryBlack;
}

p {
    font-size: $bodyFontSize;
}

h2 {
    font-size: $h2Size;
}

h3 {
    font-size: $h3Size;
}

h4 {
    font-size: $h4Size;
}

h5 {
    font-size: $h5Size;
}

button {
    background-color: transparent;
    padding: 2% 3%;
    border: 3px solid;
    border-radius: 2rem;
    margin: 1.5rem 0 1.5rem 1.5rem;
    font-size: $buttonFontSize;
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 80%;
    padding: 5% 0;
    margin: auto;
    display: block;
}

.sectionHeading {
    display: inline-block;
    color: $accentGreen;
    border-bottom: 4px $accentGreen solid;
    margin: 3rem 0;
    padding: 0 3rem;
    line-height: 3rem;
}

.sectionContent {
    width: 90%;
    margin: auto;
}
