$primaryBlack: rgb(10, 10, 10); //rgb(31, 30, 34);
$primaryWhite: rgb(239, 247, 255);
$accentGreen: rgb(103, 163, 111);
$cardColor: rgb(40, 39, 44);
$buttonFontSize: 1.4rem;
$bodyFontSize: 1.2rem;
$h2Size: 2.4rem;
$h3Size: 1.9rem;
$h4Size: 1.7rem;
$h5Size: 1rem;

@mixin link($color) {
    text-decoration: none;
    color: $color;

    &:hover {
        text-decoration: underline;
    }
}
