* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #0a0a0a;
}

button,
.button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 3px solid;
  border-radius: 2rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.sectionHeading {
  display: inline-block;
  color: #67a36f;
  border-bottom: 4px #67a36f solid;
  margin: 3rem 0 1.5rem 0;
  padding: 0 1rem;
  line-height: 2.5rem;
}

.sectionContent {
  width: 90%;
  margin: auto;
}

.container {
  width: 80%;
  padding: 5% 0;
  margin: auto;
  display: block;
}

#mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: url(../images/HeroRectLarge.svg) no-repeat top left;
}

.heroContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10%;
}

.heroContents h1 {
  color: #eff7ff;
  font-size: calc(40px + (110 - 40) * ((100vw - 300px) / (1600 - 300)));
}

.heroContents h2 {
  color: #67a36f;
  font-size: calc(20px + (55 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.heroContents a {
  border-color: #67a36f;
  color: #67a36f;
  text-decoration: none;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.heroContents a:hover {
  background-color: #67a36f;
  color: #0a0a0a;
}

@media only screen and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 1) {
  .hero {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 5%;
    background-image: url(../images/HeroRectMedium.svg);
  }
  .hero button {
    margin: 1rem 0 0 0;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 420px) and (-webkit-min-device-pixel-ratio: 1) {
  .hero {
    padding-top: 30%;
    background-image: url(../images/HeroRectSmall.svg);
  }
  .heroContents {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .heroContents button {
    margin: 0.8rem 0 0 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/NavRect.svg) no-repeat top right;
  padding-bottom: 2rem;
}

nav img {
  display: none;
  width: 80px;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-right: 2rem;
}

.navList li {
  list-style: none;
  margin: 0.5rem 0;
}

.navList a {
  text-decoration: none;
  color: #eff7ff;
  font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
}

.navList a:hover {
  color: #67a36f;
}

.socialListContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 0.5rem 0.5rem 0;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 4.3rem 4.3rem 0 0;
}

.socialList img {
  cursor: pointer;
  padding: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
  width: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
}

.mobileNavIcon {
  width: 80px;
}

#mobileNav {
  display: none;
}

@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
  header {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  nav {
    background-image: none;
  }
  #mainContent nav img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navList {
    position: absolute;
    top: 10%;
    z-index: 2;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(130%, 0);
            transform: translate(130%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background-color: #eff7ff;
    height: 300px;
    width: 200px;
  }
  .navList li a {
    color: #1f1e22;
    font-size: 1.4rem;
  }
  .open {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
}

#aboutMe p,
#aboutMe li {
  margin-right: 1%;
  color: #eff7ff;
}

#aboutMe a {
  text-decoration: none;
  color: #67a36f;
}

#aboutMe a:hover {
  text-decoration: underline;
}

#aboutMe ul {
  margin: 1rem 0 1rem 1rem;
}

@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
  #aboutMe > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aboutMe > div img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 8% 0;
  }
  #aboutMeContent {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #aboutMe {
    padding-bottom: 8%;
  }
}

#skills li {
  color: #eff7ff;
  padding: 1% 0;
  list-style: none;
}

#skills p {
  color: #eff7ff;
  margin-bottom: 2rem;
}

#skillCategories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 20px;
  justify-items: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#skillCategories > :nth-child(1) {
  background: url("../images/SkillsRect1.svg") no-repeat center center;
}

#skillCategories > :nth-child(2) {
  background: url("../images/SkillsRect2.svg") no-repeat center center;
}

#skillCategories > :nth-child(3) {
  background: url("../images/SkillsRect3.svg") no-repeat center center;
}

#skillCategories > :nth-child(4) {
  background: url("../images/SkillsRect4.svg") no-repeat center center;
}

.skillCategory {
  text-align: center;
  white-space: nowrap;
  padding: 25%;
}

.skillCategory h3 {
  color: #67a36f;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  #skillCategories {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
  #skillCategories {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

#projects {
  padding-bottom: 4%;
}

#projects p a {
  text-decoration: none;
  color: #67a36f;
}

#projects p a:hover {
  text-decoration: underline;
}

#projects h3,
#projects h4,
#projects p {
  margin-bottom: 3%;
}

#projects .projectCard:first-of-type {
  margin-top: 4%;
}

#projects .projectCard:last-of-type {
  margin-bottom: 0;
}

#projects div.container {
  padding: 0;
}

.projectText {
  color: #eff7ff;
}

.projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: 4% 0;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: #28272c;
  border-radius: 12px;
  padding: 3%;
}

.projectDetails,
.projectScreenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectDetails {
  width: 40%;
}

.projectDetails p {
  color: #eff7ff;
}

.projectDetails h3 {
  color: #67a36f;
}

.projectDetails span {
  color: #67a36f;
}

.projectDetails h4 {
  color: #eff7ff;
  padding: 1% 0;
}

.projectScreenshots img {
  width: 100%;
  max-width: 1000px;
}

.projectCardNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.projectCardNav a {
  text-decoration: none;
}

.projectCardNav p {
  color: #67a36f;
}

@media only screen and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 1) {
  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 4%;
    margin: 8% 0;
  }
  .projectDetails {
    width: 100%;
  }
  .projectDetails > div {
    padding: 4% 6%;
  }
  .projectScreenshots {
    width: 100%;
    margin-bottom: 4%;
  }
  .projectCardNav {
    padding-top: 6%;
  }
}

#contact {
  margin-top: 10%;
}

#contact h2,
#contact p {
  color: #eff7ff;
  text-align: center;
  margin-bottom: 3%;
}

#contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputGroup {
  width: 18rem;
}

#contactLinks {
  margin-top: 3%;
}

#contactLinks a {
  text-decoration: none;
  color: #67a36f;
}

#contactLinks a:hover {
  text-decoration: underline;
}

input,
textarea {
  background-color: #eff7ff;
  color: #0a0a0a;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 10% 0;
  width: 100%;
  max-width: 18rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  color: #eff7ff;
}

#contactButton {
  color: #67a36f;
  margin: 1.5rem 0 1.5rem 0;
}

#contactButton:hover {
  background-color: #67a36f;
  color: #0a0a0a;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}

footer p {
  color: #eff7ff;
}

footer a {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: #eff7ff;
}

footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */