$primaryBlack: rgb(10, 10, 10);
$primaryWhite: rgb(239, 247, 255);
$accentGreen: rgb(103, 163, 111);
$cardColor: rgb(40, 39, 44);

@import "helpers";
@import "base";

@import "components/mainContent";
@import "components/header";
@import "components/about";
@import "components/skills";
@import "components/projects";
@import "components/contact";
@import "components/footer";
