/* Base Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
}

button {
  background-color: transparent;
  padding: 10px 18px;
  border: 3px solid;
  border-radius: 25px;
  margin: 20px;
  font-size: 1.4rem;
  cursor: pointer;
}

.container {
  width: 80%;
  padding: 5% 0;
  margin: auto;
  display: block;
}

.projectCard {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: #28272c;
  border-radius: 12px;
  padding: 3%;
}

/* Landing Page */
#mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1f1e22 url("/images/splashPage.webp") center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mainContent nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainContent nav div {
  width: 100px;
}

#mainContent nav div img {
  display: none;
  width: 80px;
}

#mainContent nav #mobileNav {
  display: none;
}

#mainContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainContent nav li {
  list-style: none;
  margin-top: 15px;
}

#mainContent nav div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#mainContent nav div:nth-child(1) a {
  text-decoration: none;
  color: #eff7ff;
  font-size: 1.8rem;
}

#mainContent nav div:nth-child(1) a:hover {
  color: #67a36f;
}

#mainContent nav div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#mainContent nav div:nth-child(2) img {
  cursor: pointer;
  padding: 12px;
}

#mainContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding-top: 8%;
  padding-left: 8%;
}

#mainContent div h1 {
  color: #eff7ff;
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
}

#mainContent div h3 {
  color: #eff7ff;
  font-size: 2rem;
  color: #67a36f;
}

#mainContent div button {
  border-color: #67a36f;
  color: #67a36f;
}

#mainContent div button:hover {
  background-color: #67a36f;
  color: #eff7ff;
}

header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 95vh;
  margin: 2.5vh 2.5vw;
}

nav ul li {
  margin-right: 5px;
}

.mobileNavIcon {
  width: 80px;
}

#mobileNav {
  display: none;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* About Me */
#aboutMe > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutMe h2 {
  margin-bottom: 3%;
}

#aboutMe p {
  margin-right: 1%;
}

#aboutMe img {
  height: 200px;
}

/* Skills */
#skills {
  background-color: #1f1e22;
}

#skills h2,
#skills p,
#skills h5 {
  color: #eff7ff;
}

#skills p {
  margin: 2% 0;
}

#skills h5 {
  padding: 1% 0;
}

#skillCategories {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skillCategory {
  margin: 2% 2% 2% 0;
}

.skillCategory h4 {
  color: #67a36f;
  margin-bottom: 2%;
}

/* Projects */
#projects {
  background-color: #1f1e22;
  color: #eff7ff;
}

#projects p a {
  text-decoration: none;
  color: #67a36f;
}

#projects h2,
#projects p {
  margin-bottom: 3%;
}

#projects div.container {
  padding-top: 0;
}

#projects .projectCard:first-of-type {
  margin-top: 4%;
}

.projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8% 0;
  padding: 4%;
}

.projectCard > img {
  max-width: 100%;
  height: auto;
}

.projectCard h4 {
  color: #67a36f;
  padding: 1% 0;
}

.projectCard > div {
  width: 50%;
}

.projectCard > div p {
  padding: 3% 0;
}

.projectCardNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.projectCardNav a {
  color: #67a36f;
  text-decoration: none;
}

/* Contact */
#contact {
  background-color: #eff7ff;
}

#contact h2,
#contact p {
  text-align: center;
  margin-bottom: 3%;
}

#contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input,
textarea {
  background-color: #1f1e22;
  color: #eff7ff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 3%;
  width: 60vw;
  max-width: 300px;
}

#contactButton:hover {
  background-color: #1f1e22;
  color: #eff7ff;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff7ff;
  padding: 3%;
}

footer a {
  display: block;
  margin: 2%;
  color: #1f1e22;
}

#buyMeACoffee {
  text-decoration: none;
}

#buyMeACoffee img {
  margin-top: 1%;
}

#buyMeACoffee:hover {
  border-bottom: solid 3px black;
}

/* Media Queries */
@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
  #mainContent > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #mainContent > div button {
    margin-left: 0;
  }
  #mainContent nav div img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    margin-top: 0;
  }
  .navList {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(130%, 0);
            transform: translate(130%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background-color: #eff7ff;
    height: 300px;
    width: 200px;
  }
  #mainContent nav div:nth-child(1) li a {
    color: #1f1e22;
  }
  .open {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  #aboutMe > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aboutMe > div img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 8% 0;
  }
  #aboutMeContent {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #aboutMe {
    padding-bottom: 8%;
  }
  #skills h2 {
    padding-top: 8%;
  }
  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 794px) and (-webkit-min-device-pixel-ratio: 1) {
  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .projectCard > div {
    text-align: center;
  }
}

@media only screen and (max-width: 980px) and (-webkit-min-device-pixel-ratio: 1) {
  #skillCategories {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 514px) and (-webkit-min-device-pixel-ratio: 1) {
  #mainContent > div button {
    font-size: 1.1rem;
  }
  #skillCategories {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .skillCategory {
    margin: 5% 0;
  }
}
/*# sourceMappingURL=styles.css.map */