$primaryBlack: rgb(31, 30, 34);
$primaryWhite: rgb(239, 247, 255);
$accentGreen: rgb(103, 163, 111);
$cardColor: rgb(40, 39, 44);
$buttonFontSize: 1.4rem;
$bodyFontSize: 1.2rem;
$h2Size: 2.4rem;
$h3Size: 1.9rem;
$h4Size: 1.7rem;
$h5Size: 1rem;

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: $bodyFontSize;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: $h5Size;
}

button {
    background-color: transparent;
    padding: 10px 18px;
    border: 3px solid;
    border-radius: 25px;
    margin: 20px;
    font-size: $buttonFontSize;
    cursor: pointer;
}

@mixin link($color) {
    text-decoration: none;
    color: $color;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 80%;
    padding: 5% 0;
    margin: auto;
    display: block;
}

.projectCard {
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    background: $cardColor;
    border-radius: 12px;
    padding: 3%;
}

/* Landing Page */
#mainContent {
    display: flex;
    justify-content: space-between;
    background: $primaryBlack url("/images/splashPage.webp") center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        div {
            width: 100px;
        }

        div img {
            display: none;
            width: 80px;
        }

        #mobileNav {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            list-style: none;
            margin-top: 15px;
        }

        div:nth-child(1) {
            display: flex;
            align-items: flex-end;

            a {
                text-decoration: none;
                color: $primaryWhite;
                font-size: 1.8rem;
            }

            a:hover {
                color: $accentGreen;
            }
        }

        div:nth-child(2) {
            display: flex;
            align-items: flex-end;

            img {
                cursor: pointer;
                padding: 12px;
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order: 0;
        padding-top: 8%;
        padding-left: 8%;

        h1 {
            color: $primaryWhite;
            font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
        }

        h3 {
            color: $primaryWhite;
            font-size: 2rem;
            color: $accentGreen;
        }

        button {
            border-color: $accentGreen;
            color: $accentGreen;
        }

        button:hover {
            background-color: $accentGreen;
            color: $primaryBlack;
        }
    }
}

header {
    order: 1;
    height: 95vh;
    margin: 2.5vh 2.5vw;
}

nav ul li {
    margin-right: 5px;
}

.mobileNavIcon {
    width: 80px;
}

#mobileNav {
    display: none;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionHeading {
    display: inline-block;
    background-color: $accentGreen;
    color: $primaryBlack;
    margin: 3rem 0;
    padding: 0 3rem;
    border-radius: 0 25px 25px 0;
    line-height: 3rem;
}

.sectionContent {
    width: 90%;
    margin: auto;
}

/* About Me */
#aboutMe {
    background-color: $primaryBlack;

    p {
        margin-right: 1%;
        color: $primaryWhite;
    }
}

#education {
    background-color: $primaryBlack;

    p,
    li {
        color: $primaryWhite;
    }

    a {
        @include link($accentGreen);
    }

    ul {
        margin: 0 0 1rem 1rem;
    }

    li {
        font-size: $bodyFontSize;
    }
}

/* Skills */
#skills {
    background-color: $primaryBlack;

    p,
    h5 {
        color: $primaryWhite;
    }

    p {
        margin-bottom: 1rem;
    }

    h5 {
        padding: 1% 0;
    }
}

#skillCategories {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skillCategory {
    margin: 2% 2% 2% 0;

    h4 {
        color: rgb(103, 163, 111);
        margin-bottom: 2%;
    }
}

/* Projects */
#projects {
    background-color: $primaryBlack;

    p a {
        @include link($accentGreen);
    }

    h2,
    p {
        margin-bottom: 3%;
    }

    .projectCard:first-of-type {
        margin-top: 4%;
    }

    .projectCard:last-of-type {
        margin-bottom: 0;
    }

    padding-bottom: 4%;

    div.sectionContent p {
        color: $primaryWhite;
    }
}

.projectCard {
    display: flex;
    margin: 4% 0;
}

.projectDetails,
.projectScreenshots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDetails {
    width: 40%;
    p {
        font-size: $h5Size;
        color: $primaryWhite;
    }

    h3 {
        color: $accentGreen;
    }

    span {
        color: $accentGreen;
    }

    h4 {
        color: $primaryWhite;
        padding: 1% 0;
    }
}

.projectScreenshots {
    width: 60%;

    img {
        width: 100%;
    }
}

.projectCardNav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    a {
        text-decoration: none;
    }

    p {
        color: $accentGreen;
    }
}

/* Contact */
#contact {
    padding: 3rem 0;
    background-color: $primaryWhite;

    h2,
    p {
        text-align: center;
        margin-bottom: 3%;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#contactLinks {
    margin-top: 3%;
    a {
        text-decoration: none;
        color: $accentGreen;

        &:hover {
            text-decoration: underline;
        }
    }
}

input,
textarea {
    background-color: $primaryBlack;
    color: $primaryWhite;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 3%;
    width: 60vw;
    max-width: 300px;
}

#contactButton:hover {
    background-color: $primaryBlack;
    color: $primaryWhite;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primaryWhite;
    padding: 3%;

    a {
        display: block;
        margin-top: 1rem;

        @include link($primaryBlack);
    }
}

#buyMeACoffee {
    @include link($accentGreen);
}

/* Media Queries */

@media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
    #mainContent > div {
        align-items: flex-start;

        button {
            margin-left: 0;
        }
    }

    #mainContent nav div img {
        display: flex;
    }

    header {
        margin-top: 0;
    }

    .navList {
        transform-origin: 0% 0%;
        transform: translate(130%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background-color: $primaryWhite;
        height: 300px;
        width: 200px;
    }

    #mainContent nav div:nth-child(1) li a {
        color: #1f1e22;
    }

    .open {
        transform: translate(10%, 0);
    }

    #aboutMe > div {
        flex-direction: column;

        img {
            order: 0;
            margin: 8% 0;
        }
    }

    #aboutMeContent {
        order: 1;
    }

    #aboutMe {
        padding-bottom: 8%;
    }

    #skills h2 {
        padding-top: 8%;
    }
}

@media only screen and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 1) {
    .projectCard {
        flex-direction: column;
        align-content: center;
        padding: 4%;
        margin: 8% 0;
    }

    .projectDetails {
        width: 100%;
        > div {
            padding: 4% 6%;
        }
    }

    .projectScreenshots {
        width: 100%;
        margin-bottom: 4%;
    }

    .projectCardNav {
        padding-top: 6%;
    }
}

@media only screen and (max-width: 980px) and (-webkit-min-device-pixel-ratio: 1) {
    #skillCategories {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 514px) and (-webkit-min-device-pixel-ratio: 1) {
    #mainContent > div {
        button {
            font-size: 0.9rem;
        }
    }

    #skillCategories {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .skillCategory {
        margin: 5% 0;
    }
}
